.topBarContainer {
	height: 50px;
	width: 100%;
	background-color: #1877f2;
	display: flex;
	align-items: center;
	position: sticky;
	top: 0;
	z-index: 999;

	.topBarLeft {
		flex: 3;

		.logo {
			font-size: 24px;
			margin-left: 20px;
			font-weight: bold;
			color: #fff;
			cursor: pointer;
		}

		.facebookLogo {
			width: 25px;
			height: 25px;
			object-fit: contain;
			display: none;
		}
	}

	.topBarCenter {
		flex: 5;

		.searchBar {
			width: 100%;
			height: 30px;
			background-color: #fff;
			border-radius: 30px;
			display: flex;
			align-items: center;
		}

		.searchIcon {
			font-size: 20px !important;
			margin-left: 10px;
		}

		.searchInput {
			border: none;
			outline: none;
			width: 70%;
		}
	}

	.topBarRight {
		flex: 4;
		display: flex;
		align-items: center;
		justify-content: space-around;
		color: #fff;
		position: relative;

		.topBarLinks {
			.topBarLink {
				text-decoration: none;
				color: #fff;
				margin-right: 10px;
				font-size: 16px;
				cursor: pointer;
			}

			.topBarLinkActive {
				color: black;
			}
		}

		.topBarIcons {
			display: flex;

			.topBarIconItem {
				margin-right: 15px;
				cursor: pointer;
				position: relative;

				a {
					text-decoration: none;
					color: #fff;
				}
			}

			.topBarIconItemForMobile {
				display: none;
			}

			.topBarIconItemActive {
				a {
					color: black !important;
				}
			}

			.topBarIconBadge {
				width: 15px;
				height: 15px;
				background-color: red;
				color: #fff;
				position: absolute;
				top: -5px;
				border-radius: 50%;
				right: -5px;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 12px;
			}
		}

		.topBarImgContainer {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: space-between;

			a {
				text-decoration: none;
				.topBarImg {
					width: 32px;
					height: 32px;
					border-radius: 50%;
					object-fit: cover;
					cursor: pointer;
				}
			}

			.dropDown {
				margin-left: 10px;
				cursor: pointer;
			}

			.logoutBtn {
				position: absolute;
				top: 40px;
				right: 0;
				background-color: white;
				padding: 15px 20px;
				border-radius: 5px;

				box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.36);
				-webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.36);
				-moz-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.36);
			}
		}
	}
}

@media screen and (max-width: 992px) {
	.topBarContainer {
		.topBarLeft {
			flex: 2;
		}

		.topBarCenter {
			flex: 4;
		}

		.topBarRight {
			flex: 5;
		}
	}
}

@media screen and (max-width: 768px) {
	.topBarContainer {
		.topBarLeft {
			flex: 2;
		}

		.topBarCenter {
			flex: 0;
			display: none;
		}

		.topBarRight {
			flex: 5;
			justify-content: space-between;
			.topBarLinks {
				display: none;
			}

			.topBarIcons {
				width: 100%;
				justify-content: space-evenly;

				.topBarIconItemForMobile {
					display: block;
				}
			}
		}
	}
}

@media screen and (max-width: 450px) {
	.topBarContainer {
		.topBarLeft {
			flex: 1;
			display: flex;
			justify-content: center;
			align-items: center;

			.logo {
				display: none;
			}

			.facebookLogo {
				display: block;
			}
		}
	}
}
